*{
	margin: 0;
	padding: 0;
	text-decoration: none;

}
body{
	background:url(popcorn.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
	height: 100%;
}
.logo{
	font-family: "Lobster",sans-serif;
	font-size:30px;

}
.menu-item_link{
	font-family: "Lobster",sans-serif;
	margin:10px;
	color: black;
	font-size: 16px;
	background:;
	border-radius: 1px;
}
.header{
	background:#C00000;
	background-size: 100%;
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-content: center;
	align-items: center;
}
.title {
	font-size: 50px;
	line-height: 56px;	
	color: #000;
}
.title span {
	padding: 0 10px;
	background: #3399ff;
}
.inf{
	float: left;
	border:inset 5px;
	border-radius: 10px;
	margin-top: 5px;
	height: 400px;
	width: 300px;

}
.afisha{
	background-color: #C00000;
	width: 690px;
	height: 450px;
	border-radius:8px;
	margin: 7%;
	margin-left: 30%;
}

button{
	font-family: Arial;
background-color: red;
cursor: pointer;
 margin: 0 auto;
 display: block;
}
h2{
	text-align: center;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	color: black;
}
.shadow-text{
display: inline-block;
  color: #f66223; /* Цвет  текста */
  font-size: 1em; /* Размер  текста */
  font-weight: bold;
  padding: 20px 0px;
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.shadow-text:hover{
  color: #ffa000; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}
.back{
	font-family: fantasy;
	background-color: black;
	color: orange;
	border:2px outset;
}
.bilet1 {
	text-align: center;
	font-family: Arial;
background-color: red;
cursor: pointer;
 margin: 0 auto;
 display: block;
    color: #3399ff; /* Цвет текста */
    background: #f66223; /* Цвет фона */
    padding: 0.5px; /* Поля вокруг текста */
    transition: 0.5s linear; /* Время изменения */
    margin-top: 29%;
}

.bilet {
	text-align: center;
	font-family: Arial;
background-color: red;
cursor: pointer;
 margin: 0 auto;
 display: block;
    color: #3399ff; /* Цвет текста */
    background: #f66223; /* Цвет фона */
    padding: 0.5px; /* Поля вокруг текста */
    transition: 0.5s linear; /* Время изменения */
    margin-top: 29%;
}
.bilet:hover {
    color: black; /* Цвет текста */
    background: #f66d52; /* Цвет фона */
}

.treiler{
	margin-bottom: 43%;
	justify-content: center;
	text-align: center;
	margin-left: 45%;
	color:black;
	font-family: fantasy;
}
.page-footer{
	display: grid;
	background-color: red;
}
.text-uppercase {
	color: black;
}
.textinf{
	color: black;
}
.obzor{
	border: 2px inset;
	color: #3399ff;
}